<div class="app">
  <aside class="sidebar">
    <div class="sidebar-header">
      <!-- <h3 class="logo">Social Network</h3> -->
       <img src="./assets/logo.png" alt="Logo" class="logo" />
    </div>
    <nav class="nav-list">
      <ul>
        <li class="nav-item active">
         <mat-icon>home</mat-icon>
          <a class="nav-link" routerLink="posts" routerLinkActive="active">  
            <span>Inicio</span>
          </a>
        </li>
        <li class="nav-item active">
          <mat-icon>person</mat-icon>
          <a class="nav-link" routerLink="my-profile" routerLinkActive="active">
            <span>Mi perfil</span>
          </a>
        </li>
        @if(auth.isAdmin()) {
          <li class="nav-item active">
            <mat-icon>dashboard</mat-icon>
           <a class="nav-link" routerLink="dashboard/usuarios" routerLinkActive="active">
             <span>Dashboard Usuarios</span>
           </a>
         </li>
        }
      </ul>
    </nav>
  </aside> 
  <div class="main">
    <header class="header">
      <div class="header-left">
        <h1 class="header-logo">Social Network</h1>
      </div>
      <div class="header-right">
        <button (click)="logout()" class="btn-logout">Cerrar Sesion</button>
        <button class="btn-icon">
          <i class="icon notifications"></i>
        </button>
        <div class="user-menu">
          <!-- <ul class="dropdown">
            <li>Mi Perfil</li>
            <li>Cerrar Sesión</li>
          </ul> -->
          <div class="user-avatar" (click)="openUserModal()">
            <img src="./assets/user.png" alt="Usuario" class="avatar" />
          </div>
        </div>
      </div>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer class="footer">
      <p>© 2025 Social Network</p>
    </footer>
  </div>
</div>
