<div class="app">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h3 class="logo">SocialApp</h3>
    </div>
    <nav class="nav-list">
      <ul>
        <li class="nav-item active">
          <mat-icon aria-hidden="false" aria-label="icon" fontIcon="home"></mat-icon>
          <a routerLink="posts" routerLinkActive="active">
            <span>Inicio</span>
          </a>
        </li>
        <li class="nav-item active">
          <mat-icon aria-hidden="false" aria-label="icon" fontIcon="person"></mat-icon>
          <a routerLink="my-profile" routerLinkActive="active">
            <span>Mi perfil</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="main">
    <header class="header">
      <div class="header-left">
        <h1 class="header-logo">SocialApp</h1>
      </div>
      <div class="header-right">
        <button (click)="logout()" class="btn-logout">Cerrar Sesion</button>
        <button class="btn-icon">
          <i class="icon notifications"></i>
        </button>
        <div class="user-menu">
          <!-- <ul class="dropdown">
            <li>Mi Perfil</li>
            <li>Cerrar Sesión</li>
          </ul> -->
          <div class="user-avatar" (click)="openUserModal()">
            <img src="./assets/user.png" alt="Usuario" class="avatar" />
          </div>
        </div>
      </div>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer class="footer">
      <p>© 2025 SocialApp</p>
    </footer>
  </div>
</div>
