.posts-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--gray-50);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
}

.posts-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-post-button {
  background-color: var(--green-500);
  color: white;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-post-button:hover {
  background-color: var(--green-400);
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.posts-header h2 {
  color: var(--gray-800);
  font-size: 1.5rem;
}

.posts-header select {
  padding: 0.5rem;
  border: 1px solid var(--gray-200);
  border-radius: 0.375rem;
  background-color: var(--gray-100);
  color: var(--gray-800);
  font-weight: 500;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.pagination button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.active-button {
  background-color: var(--green-500);
  color: var(--gray-50);
  cursor: pointer;
}

.disabled {
  background-color: var(--gray-200);
  color: var(--gray-600);
  cursor: default;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--green-400);
}
