<div id="container">
  <div id="form-container">
    <div class="btn-home-container">
      <button
        class="btn-home"
        (click)="goTo('/home')"
        aria-label="Ir al inicio"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="home-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          role="img"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 9.75L12 3l9 6.75V20a.75.75 0 01-.75.75h-5.25v-5.25a.75.75 0 
                 00-.75-.75h-3a.75.75 0 00-.75.75V20H3.75A.75.75 0 013 
                 20V9.75z"
          />
        </svg>
      </button>
    </div>
    <p id="title">Registrate</p>
    <form id="form" [formGroup]="formulario">
      <div id="input-group-username" class="input-group-login">
        <label for="username">Email</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder=""
          formControlName="email"
        />
      </div>
      <div id="input-group-username" class="input-group-login">
        <label for="username">Nombre de usuario</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder=""
          formControlName="username"
        />
      </div>
      <div id="input-group-username" class="input-group-login">
        <label for="username">Nombre</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder=""
          formControlName="name"
        />
      </div>
      <div id="input-group-username" class="input-group-login">
        <label for="username">Apellido</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder=""
          formControlName="surname"
        />
      </div>
      <div id="input-group-username" class="input-group-login">
        <label for="username">Fecha de nacimiento</label>
        <mat-form-field class="example-full-width ng-touched">
        <input matInput [matDatepicker]="picker1" [formControl]="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div id="input-group-password" class="input-group-login">
        <label for="password">Clave</label>
        <input
          type="password"
          name="password"
          placeholder=""
          formControlName="password"
        />
        <label for="password" style="margin-top: 10px;">Repeti tu clave</label>
        <input
          type="password"
          name="password"
          placeholder=""
          formControlName="repeatPassword"
        />
        </div>  
        <label for="password" style="margin-top: 10px;">Foto de perfil</label>
        <div id="input-group-username" class="input-group-login">
        <input
          type="file"  
          (change)="saveImage($event)"
        />
        </div>    
        <div id="input-group-username" class="input-group-login">
          <label for="username">Descripcion</label>
          <mat-form-field class="example-full-width ng-touched">
          <textarea matInput formControlName="description"></textarea>
         </mat-form-field>
        </div>
        <div id="forgot" class="forgot">
          <a rel="noopener noreferrer" (click)="goTo('/login')"
            >Ya tenes una cuenta?</a
          >
        </div>
      @if(flagError()){
      <p id="error-register">{{ msjError }}</p>
      }
      <button id="sign" (click)="registrar()">Registrarse</button>
    </form>
    <div id="social-message" class="social-message">
      <div id="line1" class="line"></div>
      <div id="line2" class="line"></div>
    </div>
  </div>
  @if(isLoading()) {
  <app-spinner></app-spinner>
  }
</div>

