@use '@angular/material' as mat;

:root {
  @include mat.icon-overrides((
    color: #1be898
  ));
}
html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}